form {
    margin: 0 auto;
    width: 210px;
}

label {
    display: inline-block;
    text-align: right;
    
}
 input{
    display: inline-block;
    text-align: left;
}

.form-group {
    font-family: 'Neucha', cursive;
}

h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif
}

h2 {
    font-family: 'Questrial', sans-serif;
}

